<!-- Header Area Start -->
<header class="peulis-header-area">
  <!-- Header Top Area Start -->
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="header-top-left">
            <p>
              <i class="fa fa-envelope"></i>
              info@example.com
            </p>
            <p>
              <i class="fa fa-phone"></i>
              <i class="fab fa-accessible-icon"></i>
              1 562 867 5309
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="header-top-right">
            <div class="header-top-social">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Top Area End -->

  <!-- Main Header Area Start -->
  <div class="main-header-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header_inn">
            <div class="row">
              <div class="col-lg-3">
                <div class="site-logo">
                  <%= link_to image_tag("logo/JTB_LOGO.png", alt: "log"), root_path %>
                </div>
                <!-- Responsive Menu Start -->
                <div class="peulis-responsive-menu"></div>
                <!-- Responsive Menu End -->
              </div>
              <div class="col-lg-9">
                <div class="mainmenu">
                  <nav>
                    <ul id="navigation_menu">
                      <li class="active"><%= link_to "Home", root_path %></li>
                      <li class="active">
                        <a>Winter Tour</a>
                        <ul>
                          <li class=""><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                        </ul>
                      </li>
                      <li class="active">
                        <a>Summer Tour</a>
                        <ul>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                          <li><%= link_to "About Us", root_path %></li>
                        </ul>
                      </li>
                      <li class="active">
                        <a>tours</a>
                        <ul>
                          <li><%= link_to "Tour Details", tour_detail_path %></li>
                        </ul>
                      </li>
                      <li><%= link_to "Booking", "/contact", style: "color: #ff6d34;" %></li>
                    </ul>
                  </nav>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Header Area End -->
</header>
<!-- Header Area End -->